{% extends "base.html" %}
{% import "./macros/list_itens.html" as list_itens %}

{% block top %}
<section class="hero is-primary">
	<div class="hero-body">
		<div class="container">
		<h1 class="title">
			{{ site_name }}
		</h1>
		<h2 class="subtitle">
			{{ site_subtitle }}
		</h2>
		</div>
	</div>
</section>
{% endblock top %}

{% block main %}
<section class="section">
	<div class="container">
		<div class="columns">
			{{ list_itens.cards([1,2,3]) }}
		</div>
	</div>
</section>
{% endblock main %}
